@model ContactsBox.Presentation.MVC.ViewModels.ContactViewModel

@{
    ViewData["Title"] = "Contact";
}

<h2>Contact</h2>

<div class="container">
    <hr />
    <dl class="dl-horizontal">       
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            <input type="text" class="form-control" id="Name" asp-for="Name" placeholder="Nome">
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd>
            <input type="text" class="form-control" id="Company" asp-for="Company" placeholder="Empresa">
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            <input type="text" class="form-control" id="Endereco" asp-for="Address" placeholder="Endereço">
        </dd>      
    </dl>
    <div class="panel">
        <div class="panel-body">
            @foreach (var telephone in Model.Telephones)
            {
                <p>Telefone:</p>
                <label>telephone.Number</label>
                <input type="text" class="form-control" id="Endereco" asp-for="@telephone.Number" placeholder="Telefone">
                <p>Classificação:</p>
                <label>telephone.Number</label>
                <select multiple class="form-control" id="sel2">
                    <option>Celular</option>
                    <option>Casa</option>
                    <option>Trabalho</option>
                    <option>Principal</option>
                    <option>Fax do Trabalho</option>
                    <option>Fax de Casa</option>
                    <option>Outro</option>
                </select>
            }
        </div>
    </div>
    <div class="panel">
        <div class="panel-body">
            @foreach (var email in Model.Emails)
            {
                <p>Email:</p>
                <label>email.Number</label>
                <input type="text" class="form-control" id="Endereco" asp-for="@email.EmailAddress" placeholder="Email">

                <p>Classificação:</p>
                <label>email.Type</label>
                <select multiple class="form-control" id="sel2">                   
                    <option>Casa</option>
                    <option>Trabalho</option>
                    <option>Principal</option>                    
                    <option>Outro</option>
                </select>
            }
        </div>
    </div>
</div>
<div>   
    <a asp-action="Save" class="btn btn-info">Salvar</a>
    <a asp-action="Index" class="btn btn-danger">Cancelar</a>
</div>
